[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = A demo application showcasing DJL
[access "refs/*"]
	owner = group user/Lai Wei (roywei)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Lai Wei (roywei)
	label-Verified = -1..+1 group user/Lai Wei (roywei)
	push = group user/Lai Wei (roywei)
	read = group user/Lai Wei (roywei)
	rebase = group user/Lai Wei (roywei)
	removeReviewer = group user/Lai Wei (roywei)
	submit = group user/Lai Wei (roywei)
[access "refs/heads/*"]
	create = group user/Lai Wei (roywei)
	push = +force group user/Lai Wei (roywei)
	pushMerge = group user/Lai Wei (roywei)
	read = group user/Lai Wei (roywei)
[access "refs/tags/*"]
	push = group user/Lai Wei (roywei)
	push = +force group user/Lai Wei (roywei)
